<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a98386">  <td>23/08/26 15:54:20</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;techlistic.beforeTest()[pri:0, instance:goDaddy.webdriver_assignment.techlistic@4b29d1d2]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1314838582</td>   <td></td> </tr>
<tr bgcolor="a98386">  <td>23/08/26 15:54:19</td>   <td>-35</td> <td title="&gt;&gt;techlistic.beforeSuite()[pri:0, instance:goDaddy.webdriver_assignment.techlistic@4b29d1d2]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1314838582</td>   <td></td> </tr>
<tr bgcolor="a98386">  <td>23/08/26 15:54:28</td>   <td>8942</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;techlistic.beforeClass()[pri:0, instance:goDaddy.webdriver_assignment.techlistic@4b29d1d2]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1314838582</td>   <td></td> </tr>
<tr bgcolor="a98386">  <td>23/08/26 15:54:33</td>   <td>13797</td> <td title="&lt;&lt;techlistic.afterSuite()[pri:0, instance:goDaddy.webdriver_assignment.techlistic@4b29d1d2]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1314838582</td>   <td></td> </tr>
<tr bgcolor="a98386">  <td>23/08/26 15:54:33</td>   <td>13677</td> <td>&nbsp;</td><td title="&lt;&lt;techlistic.afterTest()[pri:0, instance:goDaddy.webdriver_assignment.techlistic@4b29d1d2]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1314838582</td>   <td></td> </tr>
<tr bgcolor="a98386">  <td>23/08/26 15:54:33</td>   <td>13640</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;techlistic.afterMethod()[pri:0, instance:goDaddy.webdriver_assignment.techlistic@4b29d1d2]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1314838582</td>   <td></td> </tr>
<tr bgcolor="a98386">  <td>23/08/26 15:54:28</td>   <td>8971</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="techlistic.f(java.lang.Integer,java.lang.String)[pri:0, instance:goDaddy.webdriver_assignment.techlistic@4b29d1d2]">f</td> 
  <td>main@1314838582</td>   <td></td> </tr>
<tr bgcolor="a98386">  <td>23/08/26 15:54:28</td>   <td>8963</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;techlistic.beforeMethod()[pri:0, instance:goDaddy.webdriver_assignment.techlistic@4b29d1d2]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1314838582</td>   <td></td> </tr>
<tr bgcolor="a98386">  <td>23/08/26 15:54:33</td>   <td>13667</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;techlistic.afterClass()[pri:0, instance:goDaddy.webdriver_assignment.techlistic@4b29d1d2]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1314838582</td>   <td></td> </tr>
</table>
