<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="92bcaa">  <td>23/09/06 11:59:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Add_to_cart.afterClass()[pri:0, instance:Add_To_Cart.Amzon.Add_to_cart@6fa51cd4]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@223693919</td>   <td></td> </tr>
<tr bgcolor="92bcaa">  <td>23/09/06 11:59:33</td>   <td>-188</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Add_to_cart.afterMethod()[pri:0, instance:Add_To_Cart.Amzon.Add_to_cart@6fa51cd4]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@223693919</td>   <td></td> </tr>
<tr bgcolor="92bcaa">  <td>23/09/06 11:59:33</td>   <td>-188</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Add_to_cart.afterMethod()[pri:0, instance:Add_To_Cart.Amzon.Add_to_cart@6fa51cd4]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@223693919</td>   <td></td> </tr>
<tr bgcolor="92bcaa">  <td>23/09/06 11:59:33</td>   <td>56</td> <td title="&lt;&lt;Add_to_cart.afterSuite()[pri:0, instance:Add_To_Cart.Amzon.Add_to_cart@6fa51cd4]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@223693919</td>   <td></td> </tr>
<tr bgcolor="92bcaa">  <td>23/09/06 11:59:33</td>   <td>3</td> <td>&nbsp;</td><td title="&lt;&lt;Add_to_cart.afterTest()[pri:0, instance:Add_To_Cart.Amzon.Add_to_cart@6fa51cd4]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@223693919</td>   <td></td> </tr>
<tr bgcolor="92bcaa">  <td>23/09/06 11:59:25</td>   <td>-7477</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Add_to_cart.beforeClass()[pri:0, instance:Add_To_Cart.Amzon.Add_to_cart@6fa51cd4]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@223693919</td>   <td></td> </tr>
<tr bgcolor="92bcaa">  <td>23/09/06 11:59:31</td>   <td>-1915</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Add_to_cart.beforeMethod()[pri:0, instance:Add_To_Cart.Amzon.Add_to_cart@6fa51cd4]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@223693919</td>   <td></td> </tr>
<tr bgcolor="92bcaa">  <td>23/09/06 11:59:31</td>   <td>-1915</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Add_to_cart.beforeMethod()[pri:0, instance:Add_To_Cart.Amzon.Add_to_cart@6fa51cd4]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@223693919</td>   <td></td> </tr>
<tr bgcolor="92bcaa">  <td>23/09/06 11:59:25</td>   <td>-7513</td> <td title="&gt;&gt;Add_to_cart.beforeSuite()[pri:0, instance:Add_To_Cart.Amzon.Add_to_cart@6fa51cd4]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@223693919</td>   <td></td> </tr>
<tr bgcolor="92bcaa">  <td>23/09/06 11:59:25</td>   <td>-7497</td> <td>&nbsp;</td><td title="&gt;&gt;Add_to_cart.beforeTest()[pri:0, instance:Add_To_Cart.Amzon.Add_to_cart@6fa51cd4]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@223693919</td>   <td></td> </tr>
<tr bgcolor="92bcaa">  <td>23/09/06 11:59:32</td>   <td>-849</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Add_to_cart.f(java.lang.String,java.lang.String)[pri:0, instance:Add_To_Cart.Amzon.Add_to_cart@6fa51cd4]">f</td> 
  <td>main@223693919</td>   <td></td> </tr>
<tr bgcolor="92bcaa">  <td>23/09/06 11:59:32</td>   <td>-849</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Add_to_cart.f(java.lang.String,java.lang.String)[pri:0, instance:Add_To_Cart.Amzon.Add_to_cart@6fa51cd4]">f</td> 
  <td>main@223693919</td>   <td></td> </tr>
</table>
