<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d4dc85">  <td>23/09/07 05:36:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Add_to_cart.afterClass()[pri:0, instance:Addtocart.Amazon.Add_to_cart@3f4faf53]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1551629761</td>   <td></td> </tr>
<tr bgcolor="d4dc85">  <td>23/09/07 05:36:42</td>   <td>-191</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Add_to_cart.afterMethod()[pri:0, instance:Addtocart.Amazon.Add_to_cart@3f4faf53]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1551629761</td>   <td></td> </tr>
<tr bgcolor="d4dc85">  <td>23/09/07 05:36:42</td>   <td>-191</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Add_to_cart.afterMethod()[pri:0, instance:Addtocart.Amazon.Add_to_cart@3f4faf53]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1551629761</td>   <td></td> </tr>
<tr bgcolor="d4dc85">  <td>23/09/07 05:36:43</td>   <td>81</td> <td title="&lt;&lt;Add_to_cart.afterSuite()[pri:0, instance:Addtocart.Amazon.Add_to_cart@3f4faf53]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1551629761</td>   <td></td> </tr>
<tr bgcolor="d4dc85">  <td>23/09/07 05:36:43</td>   <td>3</td> <td>&nbsp;</td><td title="&lt;&lt;Add_to_cart.afterTest()[pri:0, instance:Addtocart.Amazon.Add_to_cart@3f4faf53]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1551629761</td>   <td></td> </tr>
<tr bgcolor="d4dc85">  <td>23/09/07 05:36:13</td>   <td>-29378</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Add_to_cart.beforeClass()[pri:0, instance:Addtocart.Amazon.Add_to_cart@3f4faf53]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1551629761</td>   <td></td> </tr>
<tr bgcolor="d4dc85">  <td>23/09/07 05:36:37</td>   <td>-5149</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Add_to_cart.beforeMethod()[pri:0, instance:Addtocart.Amazon.Add_to_cart@3f4faf53]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1551629761</td>   <td></td> </tr>
<tr bgcolor="d4dc85">  <td>23/09/07 05:36:37</td>   <td>-5149</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Add_to_cart.beforeMethod()[pri:0, instance:Addtocart.Amazon.Add_to_cart@3f4faf53]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1551629761</td>   <td></td> </tr>
<tr bgcolor="d4dc85">  <td>23/09/07 05:36:13</td>   <td>-29428</td> <td title="&gt;&gt;Add_to_cart.beforeSuite()[pri:0, instance:Addtocart.Amazon.Add_to_cart@3f4faf53]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1551629761</td>   <td></td> </tr>
<tr bgcolor="d4dc85">  <td>23/09/07 05:36:13</td>   <td>-29397</td> <td>&nbsp;</td><td title="&gt;&gt;Add_to_cart.beforeTest()[pri:0, instance:Addtocart.Amazon.Add_to_cart@3f4faf53]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1551629761</td>   <td></td> </tr>
<tr bgcolor="d4dc85">  <td>23/09/07 05:36:37</td>   <td>-5149</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Add_to_cart.f(java.lang.String,java.lang.String)[pri:0, instance:Addtocart.Amazon.Add_to_cart@3f4faf53]">f</td> 
  <td>main@1551629761</td>   <td></td> </tr>
<tr bgcolor="d4dc85">  <td>23/09/07 05:36:37</td>   <td>-5149</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Add_to_cart.f(java.lang.String,java.lang.String)[pri:0, instance:Addtocart.Amazon.Add_to_cart@3f4faf53]">f</td> 
  <td>main@1551629761</td>   <td></td> </tr>
</table>
