<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="83dc97">  <td>23/08/11 06:11:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="deleteuserbdd.deleteuser()[pri:0, instance:APITestingRestAssured.Rest_assured.deleteuserbdd@741a8937]">deleteuser</td> 
  <td>main@475603167</td>   <td></td> </tr>
<tr bgcolor="a8a16a">  <td>23/08/11 06:11:14</td>   <td>375</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Getlistusersbdd.getusers()[pri:0, instance:APITestingRestAssured.Rest_assured.Getlistusersbdd@306e95ec]">getusers</td> 
  <td>main@475603167</td>   <td></td> </tr>
<tr bgcolor="6773a3">  <td>23/08/11 06:11:14</td>   <td>631</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="patchusersbdd.patchuser()[pri:0, instance:APITestingRestAssured.Rest_assured.patchusersbdd@52af26ee]">patchuser</td> 
  <td>main@475603167</td>   <td></td> </tr>
<tr bgcolor="96bacf">  <td>23/08/11 06:11:08</td>   <td>-5614</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="postusersbdd.postuser()[pri:0, instance:APITestingRestAssured.Rest_assured.postusersbdd@a530d0a]">postuser</td> 
  <td>main@475603167</td>   <td></td> </tr>
<tr bgcolor="70f8a6">  <td>23/08/11 06:11:12</td>   <td>-1537</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="putusersbdd.putusers()[pri:0, instance:APITestingRestAssured.Rest_assured.putusersbdd@74751b3]">putusers</td> 
  <td>main@475603167</td>   <td></td> </tr>
</table>
