<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>11Aug</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="70f8a6">  <td>23/08/11 04:53:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_Update.PUTUPDATE()[pri:0, instance:APITestingRestAssured.Rest_assured.Put_Update@7bd4937b]">PUTUPDATE</td> 
  <td>main@856055143</td>   <td></td> </tr>
<tr bgcolor="96bacf">  <td>23/08/11 04:53:43</td>   <td>-4888</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PostListUsers_BDD.PostUSer()[pri:0, instance:APITestingRestAssured.Rest_assured.PostListUsers_BDD@611889f4]">PostUSer</td> 
  <td>main@856055143</td>   <td></td> </tr>
<tr bgcolor="83dc97">  <td>23/08/11 04:53:50</td>   <td>2093</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Deleteuser.f()[pri:0, instance:APITestingRestAssured.Rest_assured.Deleteuser@21e360a]">f</td> 
  <td>main@856055143</td>   <td></td> </tr>
</table>
