<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a8a16a">  <td>23/08/11 06:57:36</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="POST_USERBDD.postuser()[pri:0, instance:Rest.Rest__Assured.POST_USERBDD@306e95ec]">postuser</td> 
  <td>main@889891977</td>   <td></td> </tr>
<tr bgcolor="83dc97">  <td>23/08/11 06:57:35</td>   <td>-350</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GET_LISTUSER_BDD.getlistbdd()[pri:0, instance:Rest.Rest__Assured.GET_LISTUSER_BDD@741a8937]">getlistbdd</td> 
  <td>main@889891977</td>   <td></td> </tr>
<tr bgcolor="a970b0">  <td>23/08/11 06:57:33</td>   <td>-2353</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PATCH.patch()[pri:0, instance:Rest.Rest__Assured.PATCH@58d75e99]">patch</td> 
  <td>main@889891977</td>   <td></td> </tr>
<tr bgcolor="70f8a6">  <td>23/08/11 06:57:35</td>   <td>-811</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PUT_UPDATE.put()[pri:0, instance:Rest.Rest__Assured.PUT_UPDATE@74751b3]">put</td> 
  <td>main@889891977</td>   <td></td> </tr>
<tr bgcolor="71b7a8">  <td>23/08/11 06:57:30</td>   <td>-5577</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DELETE.del()[pri:0, instance:Rest.Rest__Assured.DELETE@2f217633]">del</td> 
  <td>main@889891977</td>   <td></td> </tr>
</table>
