<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="96bacf">  <td>23/08/14 07:12:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GETPRODUCTBYID.get_product_by_id()[pri:0, instance:Restassured__.Rest_ass_ured.GETPRODUCTBYID@5ba3f27a]">get_product_by_id</td> 
  <td>main@1967355409</td>   <td></td> </tr>
<tr bgcolor="d07cbb">  <td>23/08/14 07:12:40</td>   <td>-2637</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DELETE.delete_product()[pri:0, instance:Restassured__.Rest_ass_ured.DELETE@48f278eb]">delete_product</td> 
  <td>main@1967355409</td>   <td></td> </tr>
<tr bgcolor="a970b0">  <td>23/08/14 07:12:43</td>   <td>97</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GETPRODUCT.get_users()[pri:0, instance:Restassured__.Rest_ass_ured.GETPRODUCT@58d75e99]">get_users</td> 
  <td>main@1967355409</td>   <td></td> </tr>
<tr bgcolor="70f8a6">  <td>23/08/14 07:12:43</td>   <td>139</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="POSTPRODUCT.post_users()[pri:0, instance:Restassured__.Rest_ass_ured.POSTPRODUCT@74751b3]">post_users</td> 
  <td>main@1967355409</td>   <td></td> </tr>
<tr bgcolor="83dc97">  <td>23/08/14 07:12:43</td>   <td>212</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PUTPRODUCT.put_users()[pri:0, instance:Restassured__.Rest_ass_ured.PUTPRODUCT@741a8937]">put_users</td> 
  <td>main@1967355409</td>   <td></td> </tr>
</table>
