<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="70f8a6">  <td>23/08/22 11:02:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="putproduct.f()[pri:0, instance:Restassured__.Restassuredassessment.putproduct@7bd4937b]">f</td> 
  <td>main@856055143</td>   <td></td> </tr>
<tr bgcolor="96bacf">  <td>23/08/22 11:02:29</td>   <td>-310</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="deleteproductbyid.f()[pri:0, instance:Restassured__.Restassuredassessment.deleteproductbyid@7c24b813]">f</td> 
  <td>main@856055143</td>   <td></td> </tr>
<tr bgcolor="83dc97">  <td>23/08/22 11:02:29</td>   <td>65</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="getproductbyid.f()[pri:0, instance:Restassured__.Restassuredassessment.getproductbyid@21e360a]">f</td> 
  <td>main@856055143</td>   <td></td> </tr>
<tr bgcolor="d07cbb">  <td>23/08/22 11:02:25</td>   <td>-3727</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="getproducts.f()[pri:0, instance:Restassured__.Restassuredassessment.getproducts@3b6ddd1d]">f</td> 
  <td>main@856055143</td>   <td></td> </tr>
<tr bgcolor="a970b0">  <td>23/08/22 11:02:29</td>   <td>-153</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="postproducts.f()[pri:0, instance:Restassured__.Restassuredassessment.postproducts@2c35e847]">f</td> 
  <td>main@856055143</td>   <td></td> </tr>
</table>
