<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8b8b72">  <td>23/09/07 10:04:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;datadriven_pageFactory.afterClass()[pri:0, instance:com.google.pack.datadriven_pageFactory@72cc7e6f]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1471948789</td>   <td></td> </tr>
<tr bgcolor="8b8b72">  <td>23/09/07 10:04:30</td>   <td>-72</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;datadriven_pageFactory.afterMethod()[pri:0, instance:com.google.pack.datadriven_pageFactory@72cc7e6f]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1471948789</td>   <td></td> </tr>
<tr bgcolor="8b8b72">  <td>23/09/07 10:04:30</td>   <td>-72</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;datadriven_pageFactory.afterMethod()[pri:0, instance:com.google.pack.datadriven_pageFactory@72cc7e6f]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1471948789</td>   <td></td> </tr>
<tr bgcolor="8b8b72">  <td>23/09/07 10:04:30</td>   <td>-72</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;datadriven_pageFactory.afterMethod()[pri:0, instance:com.google.pack.datadriven_pageFactory@72cc7e6f]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1471948789</td>   <td></td> </tr>
<tr bgcolor="8b8b72">  <td>23/09/07 10:04:30</td>   <td>1</td> <td>&nbsp;</td><td title="&lt;&lt;datadriven_pageFactory.afterTest()[pri:0, instance:com.google.pack.datadriven_pageFactory@72cc7e6f]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1471948789</td>   <td></td> </tr>
<tr bgcolor="8b8b72">  <td>23/09/07 10:04:00</td>   <td>-30931</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;datadriven_pageFactory.beforeClass()[pri:0, instance:com.google.pack.datadriven_pageFactory@72cc7e6f]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1471948789</td>   <td></td> </tr>
<tr bgcolor="8b8b72">  <td>23/09/07 10:04:21</td>   <td>-9474</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;datadriven_pageFactory.beforeMethod()[pri:0, instance:com.google.pack.datadriven_pageFactory@72cc7e6f]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1471948789</td>   <td></td> </tr>
<tr bgcolor="8b8b72">  <td>23/09/07 10:04:21</td>   <td>-9474</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;datadriven_pageFactory.beforeMethod()[pri:0, instance:com.google.pack.datadriven_pageFactory@72cc7e6f]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1471948789</td>   <td></td> </tr>
<tr bgcolor="8b8b72">  <td>23/09/07 10:04:21</td>   <td>-9474</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;datadriven_pageFactory.beforeMethod()[pri:0, instance:com.google.pack.datadriven_pageFactory@72cc7e6f]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1471948789</td>   <td></td> </tr>
<tr bgcolor="8b8b72">  <td>23/09/07 10:04:00</td>   <td>-30961</td> <td>&nbsp;</td><td title="&gt;&gt;datadriven_pageFactory.beforeTest()[pri:0, instance:com.google.pack.datadriven_pageFactory@72cc7e6f]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1471948789</td>   <td></td> </tr>
<tr bgcolor="8b8b72">  <td>23/09/07 10:04:23</td>   <td>-7773</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="datadriven_pageFactory.login(java.lang.String,java.lang.String)[pri:0, instance:com.google.pack.datadriven_pageFactory@72cc7e6f]">login</td> 
  <td>main@1471948789</td>   <td></td> </tr>
<tr bgcolor="8b8b72">  <td>23/09/07 10:04:23</td>   <td>-7773</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="datadriven_pageFactory.login(java.lang.String,java.lang.String)[pri:0, instance:com.google.pack.datadriven_pageFactory@72cc7e6f]">login</td> 
  <td>main@1471948789</td>   <td></td> </tr>
<tr bgcolor="8b8b72">  <td>23/09/07 10:04:23</td>   <td>-7773</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="datadriven_pageFactory.login(java.lang.String,java.lang.String)[pri:0, instance:com.google.pack.datadriven_pageFactory@72cc7e6f]">login</td> 
  <td>main@1471948789</td>   <td></td> </tr>
</table>
